.wrapper {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapper__list {
  .productCard {
    border: 1px solid #000000;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;

    position: relative;
    .img {
      width: 50px;
      height: 50px;
    }
    .title {
      text-align: left;
      font-size: 15px;
    }
    .star {
      right: 30px;
    }
    button {
      margin-right: 130px;
    }
  }
}
.toggle-list {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
