.error {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.cardpage-wrapper-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
