.modal {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &Wind {
    background-color: #8a8a8a;
    width: 516px;
    position: relative;
    border-radius: 4px;
    & .title {
      background-color: #3f3f3f;
    }
  }
}
.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 35px;
}
.title {
  padding-left: 10px;
  font-weight: 700;
  margin: 0;
  padding: 5px 0 5px 20px;
  border-radius: 4px;
  font-size: 22px;
  line-height: 60px;
  color: #ffffff;
  font-family: 'Helvetica 65 Medium', sans-serif;
}
.close {
  position: absolute;
  top: 20px;
  right: 40px;
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
}

.text {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  color: #ffffff;
}
span {
  display: block;
}
