a {
  color: black;
  text-decoration: none;
}
.header {
  background-color: #7e7e7e;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 70px;
  .logo {
    display: flex;
    font-size: 25px;
  }
}
.header__option {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.chosenSvg {
  margin-right: 15px;
  margin-left: 5px;
}
.cartImg {
  width: 30px;
  margin-left: 5px;
}
.chosenCount {
  display: flex;
  align-items: center;
}
.cartCount {
  display: flex;
  align-items: center;
}
