.productCard {
  border: 1px solid #000000;
  border-radius: 15px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: grid;
  justify-items: center;
  position: relative;
}
.img {
  width: 150px;
  height: 160px;
}
.title {
  text-align: center;
  font-size: 20px;
}
.star {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  stroke-width: 1px;
  stroke: rgb(0, 0, 0);
  color: transparent;
  fill: white;
  &--active {
    stroke: transparent;
    fill: rgb(229, 255, 0);
  }
}
.button--size {
  font-size: 20px;
  cursor: pointer;
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
