.not-page {
  background-color: #787878;
  background-image: linear-gradient(135deg, #777777 0%, #ffffff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 56px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  .page-title {
    margin-bottom: 24px;
    font-size: 56px;
    font-weight: 900;
    line-height: 1;
  }
  .page-desc {
    font-size: 24px;
    line-height: 1.33;
  }
  .link {
    color: white;
    border: 5px;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(135deg, #000000 0%, #707070 100%);
  }
}
